body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0157b2; /* Fundo azul */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 600px;
  text-align: center;
  margin-top: 150px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0157b2;
  padding: 10px 20px;
  border: 2px solid #0157b2; /* Define uma borda para ser arredondada */
    border-radius: 10px;
}

.logo img {
  height: 50px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 10px;
}

.nav-links li a {
  color: black;
  text-decoration: none;
  font-size: 10px;
  background-color: rgb(162, 196, 255);
  padding: 6px 12px;
  border-radius: 10px;
}

h1 {
  color: #333;
  font-size: 20px;
}

h2 {
  font-size: 15px;
}
form {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
  display: block;
  margin-bottom: 18px;
  padding: 10px;
  width: 95%;
  border: 1px solid #0157b2;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #0157b2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #4cae4c;
}

.input-cadastro {
  max-width: 95%;
}

#indicador-desempenho {
  margin-top: 30px;
}