body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #0056b3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    background-color: #004a99;
    border-radius: 15px;
    overflow: hidden;
}
.logo-section {
    flex: 1;
    background-color: #0056b3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-section img {
    width: 200px;
    height: auto;
}
.form-section {
    flex: 1;
    background-color: #002f6c;
    padding: 40px;
    color: #fff;
}
.form-section h2 {
    margin-bottom: 20px;
    font-size: 32px;
}
#user, #email, #senha, #confirmar-senha {
    max-width: 540px;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #003f8f;
    color: #fff;
}
.form-group input::placeholder {
    color: #c0c0c0;
}
.form-section button {
    background-color: #00c800;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}
.form-section button:hover {
    background-color: #009900;
}

.form-section a {
    display: block;
    margin: 10px 0;
    color: #c0c0c0;
    text-decoration: none;
}
.form-section a:hover {
    text-decoration: underline;
}