body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3 {
  margin: 0px;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #e9e9e9;
}

::-webkit-scrollbar-thumb {
  background-color: #0056A3;
  border-radius: 6px;
}

header {
    /* background-color: ; */
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

#logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

#logo span {
    color: #0056A3;
    font-size: 2rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#logo img {
    height: 60px; 
}

#cadastro {
    font-size: 1.3rem;
    color: #0056A3;
    text-decoration: none;
}

#cadastro:hover {
  text-decoration: underline;
}

.menu-mobile {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

#login {
    border: 2px solid #0056A3;
    font-size: 1.3rem;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #0056A3;
}

#login:hover {
    border: 2px solid rgb(0, 86, 163, 0.9);
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    text-decoration: none;
    background-color: rgb(0, 86, 163, 0.9);
}

/* Menu Mobile */

#menuToggle {
  display: none;
}

.menu-icon {
  display: none;
}

@media (max-width: 780px) {
  #logo span {
    display: none;
  }

  .cabecalho {
    position: fixed;
    top: 0px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;
  }

  #cadastro {
    color:#00013e;
  }

  #login a {
    background-color: #00013e;
    color: white;
  }

  .cabecalho nav {
    display: absolute;
    width: 100%;
    height: 100%;
  }
  .menu-mobile {
    display: flex;
    position: fixed;
    flex-wrap: wrap;
    align-content: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 0%;
    overflow: hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
    margin-bottom: 1000px;
    background-color: white;
  }

  .menu-mobile li {
    display: block;
    width: 100%;
    margin-left: 0px;
    margin-bottom: 20px;
  }

  .menu-mobile li a {
    display: block;
    text-align: center;
    width: 100%;
  }
  .menu-icon {
    width: 50px;
    height: inherit;
    display: block;
    position: absolute;
    top: 40px;
    right: 30px;
    line-height: 60px;
    color: #00013e;
    z-index: 999;
  }

  #fechar-circulo {
    color: #00013e;
  }

  #menuToggle:checked ~ label i:nth-child(2) {
    display: block;
  }
  #menuToggle:checked ~ label i:first-child {
    display: none;
  }
  #menuToggle:not(:checked) ~ label i:first-child {
    display: block;
  }
  #menuToggle:not(:checked) ~ label i:nth-child(2) {
    display: none;
  }

  #menuToggle:checked ~ ul {
    height: 100%;
  }
  .menu-icon i {
    font-size: 1.7em;
  }
}

/* PRIMEIRA SEÇAÕ */
#principal {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
    background: linear-gradient(to right, #0056A3, #2474BC, #6BB1EF);
    padding-top: 10px;
}

#imagem-principal img {
    height: 550px;
}

#texto-principal {
  display: grid;
}

#texto-principal h1 {
    font-size: 2.4rem;
    font-family: "Rubik", sans-serif;
    color: white;
}

#texto-principal h2 {
    font-size: 1.15rem;
    margin-bottom: 20px;
    font-family: "PT Serif", serif;
    color: white;
}

.vagas-principal {
    display: flex;
    gap: 20px;
    align-items: center;
}

.vagas-principal-individual {
    border: 1px solid white;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    text-align: center;
}

.vagas-principal-individual span {
    font-size: 1.2rem;
    font-family: "Rubik", sans-serif;
    color: white;
}

.vagas-principal-individual img {
    height: 25px;
}

#vagas-principal-2 {
    margin-top: 15px;
}

@media (max-width: 1300px) {
  .vagas-principal-individual {
    border: 1px solid white;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 20px;
  }
  .vagas-principal-individual span {
    font-size: 1rem;
    font-family: "Rubik", sans-serif;
    color: white;
  }
}

@media (max-width: 1150px) {
  #imagem-principal {
    display: none;
  }
  #principal {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
    background: linear-gradient(to right, #0056A3, #2474BC, #6BB1EF);
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
  }
  .vagas-principal {
    justify-self: center;
  }
}

@media (max-width: 950px) {
  #principal {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

@media (max-width: 850px) {
  #texto-principal h1 {
    font-size: 2rem;
  }  
}

@media (max-width: 780px) {
  #principal {
    margin-top: 80px;
  }
}

@media (max-width: 670px) {
  #texto-principal h1 {
    font-size: 1.5rem;
  }  
  #texto-principal h2 {
    font-size: 1rem;
  }
  .vagas-principal-individual span {
    font-size: 1rem;
}
  .vagas-principal-individual img {
    height: 20px;
  }
  #principal {
    padding: 50px 50px;
  }
}

@media (max-width: 550px) {
  .vagas-principal-individual img {
    display: none;
  }
  .vagas-principal-individual span {
    font-size: 0.9rem;
  }
  #principal {
    padding: 40px 30px;
  }
}

@media (max-width: 415px) {
  #texto-principal h1 {
    font-size: 1.3rem;
  }  
  #texto-principal h2 {
    font-size:0.9rem;
  }
  .vagas-principal-individual span {
    font-size: 0.7rem;
  }
}

/* SEÇÃO ABAS */

.intro-info {
    display: grid;
    grid-template-columns: auto 700px;
    justify-items: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 90px;
    align-items: center;
  }

  .intro-info img {
    max-height: 325px;
  }
  
  .textos-info {
    max-width: 1000px;
    display: grid;
  }
  
  .texto-item {
    background-color: white;
    color: #111;
    margin: 1rem 0;
    border-left: 3px solid #023e8a;
  }
  
  .texto-item-header {
    padding-left: 2rem;
    /* min-height: 3rem; */
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: gray;
    background-color: white;
    font-size: 1.5rem;
    font-family: "Rubik", sans-serif;
  }
  
  .texto-item-header:hover {
    color: black;
  }
  
  .texto-item-header.active {
    color: black;
  }
  
  .texto-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }
  
  .texto-item-body-content {
    padding-left: 2rem;
    padding-bottom: 15px;
    font-family: "PT Serif", serif;
    font-size: 1.2rem;
  }
  
  @media (max-width: 1245px) {
    .intro-info {
      display: grid;
      grid-template-columns: auto;
      gap: 30px;
      justify-items: center;
      margin-left: 120px;
      margin-right: 120px;
    }
    .intro-info img {
      max-height: 200px;
    }
  }
  
  @media (max-width: 900px) {
    .texto-item-header {
      font-size: 1.2rem;
    }
    .texto-item-body-content {
      font-size: 1rem;
    }
    .intro-info {
      margin-left: 40px;
      margin-right: 40px;
      margin-top: 50px;
    }
    .intro-info img {
      max-height: 150px;
    }
  }
  
  @media (max-width: 650px) {
    .texto-item-header {
      font-size: 1.1rem;
    }
    .texto-item-body-content {
      font-size: 1rem;
    }
    .texto-item-header {
      font-size: 1 rem;
    }
    .texto-item-body-content {
      font-size: 0.8rem;
    }
    .intro-info img {
      max-height: 100px;
    }
    .intro-info {
      margin-top: 30px;
    }
  }
  
  @media (max-width: 500px) {
    .intro-info {
      margin-left: 20px;
      margin-right: 20px;
    }
    .intro-info img {
      display: none;
    }
  }

  /* PASSOS */

  #passos {
    display: grid;
    margin-top: 90px;
    gap: 30px;
  }

  #passos h2 {
    text-align: center;
    font-size: 2.4rem;
    /* color: #023e8a; */
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
  }

  #passos-container {
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  .passos-container-etapa img {
    height: 300px;
    border-radius: 20px;
    background-color: #A0BBFF;
    justify-self: center;
  }

  .passos-container-etapa h3, .passos-container-etapa h4 {
    text-align: center;
  }

  .passos-container-etapa h3 {
    font-size: 1.2rem;
    font-family: "Rubik", sans-serif;
    margin-top: 10px;
  }

  .passos-container-etapa h4 {
    max-width: 325px;
    text-align: center;
    justify-self: center;
    font-size: 1rem;
    font-family: "PT Serif", serif;
    font-weight: lighter;
  }

  @media (max-width: 1245px) {
    .passos-container-etapa img {
      height: 250px;
    }
    .passos-container-etapa h3 {
      font-size: 1.1rem;
    }
    .passos-container-etapa h4 {
      font-size: 0.9rem;
      max-width: 275px;
    }
  }

  @media (max-width: 1030px) {
    .passos-container-etapa img {
      height: 200px;
    }
    #passos h2 {
      font-size: 2rem;
    }
    .passos-container-etapa h4 {
      font-size: 0.9rem;
      max-width: 250px;
    }
  }

  @media (max-width: 1000px) {
    #passos-container {
      display: grid;
      justify-content: center;
      gap: 20px;
    }
    .passos-container-etapa img {
      height: 300px;
      justify-self: center;
    }
  }
  @media (max-width: 700px) {
    .passos-container-etapa img {
      height: 250px;
    }
    #passos h2 {
      font-size: 1.3rem;
    }
    #passos {
      margin-top: 30px;
    }
  }    

  @media (max-width: 450px) {
    .passos-container-etapa img {
      height: 225px;
    }
    #passos h2 {
      font-size: 1.1rem;
    }

  }   

  /* PERGUNTAS FREQUENTES */

.perguntas-frequentes {
  margin-top: 90px;
  padding: 50px 300px;
  display: grid;
  gap: 30px;
  /* background-color: #023e8a; */
  background: linear-gradient(to right, #036fa6, #014f86, #023e8a);
}

.perguntas-frequentes h1 {
  font-family: "Rubik", sans-serif;
  font-size: 2.5rem;
  text-align: center;
  color: white;
}

.accordion {
  display: grid;
  gap: 15px;
}

.accordion-button {
  font-family: "Rubik", sans-serif;
  font-size: 1.4rem;
  color: #01012f;
}

.accordion-body {
  font-family: "PT Serif", serif;
  font-size: 1.2rem;
  line-height: 1.3;
}

.accordion-header button {
  font-size: 1.3rem;
  font-family: "Rubik", sans-serif;
}

@media (max-width: 1245px) {
  .perguntas-frequentes {
    padding-left: 200px;
    padding-right: 200px;
  }
}

@media (max-width: 1000px) {
  .perguntas-frequentes {
    padding-left: 150px;
    padding-right: 150px;
  }
  .perguntas-frequentes h1 {
    font-family: "Rubik", sans-serif;
    font-size: 2rem;
    text-align: center;
  }
  .accordion-header button {
    font-size: 1.2rem;
  }

  .accordion-body {
    font-family: "PT Serif", serif;
    font-size: 1rem;
    line-height: 1.3;
  }
}

@media (max-width: 800px) {

  .perguntas-frequentes {
    margin-top: 50px;
  }

  .perguntas-frequentes {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 80px;
  }

  .perguntas-frequentes h1 {
    font-size: 1.9rem;
  }
  .accordion-header button {
    font-size: 1.1rem;
  }
}

@media (max-width: 700px) {
  .perguntas-frequentes {
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 60px;
  }
  .perguntas-frequentes h1 {
    font-size: 1.8rem;
  }
}

@media (max-width: 600px) {
  .perguntas-frequentes {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 60px;
  }
  .accordion-button {
    font-family: "Rubik", sans-serif;

    font-size: 1.1rem;
    color: #01012f;
  }
  .accordion-body {
    font-family: "PT Serif", serif;
    line-height: 1.3;
  }
  .perguntas-frequentes h1 {
    font-size: 1.6rem;
  }
}

@media (max-width: 500px) {
  .perguntas-frequentes {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 50px;
    margin-top: 30px;
  }
  .accordion-header button {
    font-size: 0.8rem;
  }
  .accordion-body {
    font-size: 0.6rem;
  }
}

@media (max-width: 400px) {
  .perguntas-frequentes {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
  }
  .accordion-button {
    font-family: "Rubik", sans-serif;
    font-size: 1rem;
    color: #01012f;
  }
  .accordion-body {
    font-family: "PT Serif", serif;
    font-size: 0.8rem;
    line-height: 1.3;
  }
}

/* FOOTER */

#footer-hr {
  margin: 40px 120px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

#footer-texto {
  max-width: 500px;
  font-weight: bolder;
  color: #01012f;
  font-family: "Rubik", sans-serif;
}

#footer-info {
  font-family: "Rubik", sans-serif;
  color: dimgray;
}

@media (max-width: 1100px) {
  #footer-texto {
    display: none;
  }
  #footer-info {
    text-align: center;
  }
  #footer-hr {
    margin-top: 60px;
    display: grid;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  #footer-info {
    font-size: 0.9rem;
  }
  #footer-hr {
    margin: 30px 60px;
    display: grid;
    justify-content: center;
  }
}

@media (max-width: 500px) {
  #footer-info {
    font-size: 0.9rem;
  }
  #footer-hr {
    margin: 20px 40px;
    display: grid;
    justify-content: center;
  }
}

@media (max-width: 400px) {
  #footer-info {
    font-size: 0.7rem;
  }
}